:root {
  --main-color: #D33F49;      /* Burnt Red */
  --indigo: #094074;
  --lapis-lazuli: #3C6997;
  --blue-green: #00A0CC;
  --gray: #C8BFC7;
  --light-gray: #EFEFEF;
  --white: #F9F9F9;
  --licorice: #1F1A19;
}
a {
  color: var(--lapis-lazuli);
}
body {
  font-family: 'Verdana', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--lapis-lazuli);
}
header h1{
  color: var(--white);
}
nav a {
  color: var(--light-gray);
  margin-left: 1rem;
  text-decoration: none;
  font-weight: 500;
}
nav a:hover{
  color: var(--gray);
}
main {
  padding: 2rem;
}
footer {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--indigo);
  width: 100%;
  
  color: var(--white);
  text-align: center;
  padding: 10px 0;
  z-index: 999;
  
  left: 0;
  bottom: 0;  
  position: fixed;
}
section {
  margin-bottom: 2.5rem;
}
.project {
  margin-bottom: 1.5rem;
}
.icon{
  width: 40px;
  height: 40px;
}
.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}
#links ul{
  list-style-type: none;
  margin: auto;
  text-align: center;
}
#links ul li{
  display: inline-block;
  padding-right: 30px;
  padding-left: 30px;
}